body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(153, 88, 8);
}

.container {
    display: flex;
}

.cronometro {
    width: 150px;
    height: 80px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(26, 28, 21);
    color: red;
    font-size: 40px;
    margin: 3px;
}

.pulsanti {
    display: block;
}